/*------ Buttons ------*/

.button {
  border: 0;
  border-radius: $border-radius;
  display: block;
  font-size: .8rem;
  font-weight: $extra-bold;
  letter-spacing: 1px;
  outline: 0;
  padding: .8rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background $cubic-bezier $duration;
  width: 100%;

  &:hover {
    text-decoration: none;
  }
}

.button--primary {
  background: $green;
  color: $white;

  &:hover {
    background: darken($green, 6%);
  }
}

.button--secondary {
  background: $blue;
  color: $white;

  &:hover {
    background: darken($blue, 6%);
  }
}

.button--add {
  background: none;
  border: 2px dashed lighten($gray, 20%);
  color: $gray;
  cursor: pointer;
  display: inline-block;
  transition: $duration $cubic-bezier;
  width: auto;

  &:before {
    content: "\f067";
    font-family: "FontAwesome";
    font-weight: $regular;
    margin-right: 7px;
  }

  &:hover {
    border: 2px dashed lighten($gray, 10%);
    color: darken($gray, 5%);
  }
}
