/*------ Buttons ------*/

.button--primary {
  @include transition (background $duration $timing);
  background: $green;
  color: $white;
  font-size: 1rem;
  font-weight: $bold;

  &:hover { background: darken($green, 5%); }
}
