/*------ Buttons ------*/

.button {
  border: 0;
  border-radius: $border-radius;
  display: block;
  font-size: .8rem;
  font-weight: $extra-bold;
  letter-spacing: 1px;
  padding: .8rem;
  text-transform: uppercase;
  transition: background $cubic-bezier $duration;
  width: 100%;

  &:hover {
    text-decoration: none;
  }
}

.button--primary {
  background: $orange;
  color: $white;

  &:hover {
    background: darken($orange, 6%);
  }
}

.button--secondary {
  background: $blue;
  color: $white;

  &:hover {
    background: darken($blue, 6%);
  }
}

.button--empty {
  background: none;
  border: 2px dashed lighten($gray, 20%);
  color: $gray;
  cursor: pointer;
  text-align: center;
}

.button--filter-toggle {
  background: $white;
  border: 1px solid $border-light;
  border-radius: $border-radius;
  color: lighten($gray, 10%);
  cursor: pointer;
  display: inline-block;
  font-size: .75rem;
  font-weight: $bold;
  letter-spacing: 1px;
  padding: .6rem 1rem;
  text-transform: uppercase;
  transition: $duration $cubic-bezier;

  &:before {
    content: "\f013";
    font-family: "FontAwesome";
    font-weight: $regular;
    margin-right: .25rem;
  }

  &:hover {
    border: 1px solid darken($border-light, 6%);
    color: darken($gray, 10%);
  }
}
