/*------ Card List ------*/

.card-list {
  @extend %clearfix;
  @include clean-list;
}

.card-list__item {
  @media #{$medium} {
    float: left;
    margin-left: 3%;
    width: 48.5%;

    &:nth-of-type(2n+1) {
      margin-left: 0;
    }
  }

  @media #{$large} {
    width: 31.33%;

    &:nth-of-type(2n+1) {
      margin-left: 3%;
    }

    &:nth-of-type(3n+1) {
      margin-left: 0;
    }
  }
}

/*------ Card ------*/

.card {
  background: $white;
  border: 1px solid $border-light;
  border-radius: $border-radius;
  display: block;
  margin-bottom: 1.5rem;
  overflow: hidden;
  position: relative;
  transition: transform $cubic-bezier $duration;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    border: 1px solid darken($border-light, 5%);
    text-decoration: none;
  }

  p {
    margin: 0;
  }
}

/*------ Card Structure ------*/

.card__section {
  @extend %clearfix;
  border-bottom: 1px solid $border-light;
  padding: .75rem;

  &:last-of-type {
    border-bottom: 0;
  }
}

.card__photo {
  background-size: cover;
  height: 225px;
  position: relative;

  img {
    @include complete-center;
    max-height: 185px;
    max-width: 280px;
    width: 90%;
  }
}

/*------ Card Items ------*/

.card__title {
  @include ellipsis;
  font-size: 1rem;
  font-weight: $bold;
  margin: 0;
  text-align: center;
}

.card__special {
  background: rgba(88, 88, 88, 0.6);
  color: $white;
  display: inline-block;
  font-size: .75rem;
  font-weight: $bold;
  letter-spacing: 1px;
  right: 0;
  padding: .5rem 1rem;
  position: absolute;
  text-transform: uppercase;
  z-index: 3;
}

.card__name {
  display: inline-block;
  font-size: 1rem;
  font-weight: $bold;
  margin: 0 .5rem .75rem 0;
}

.card__class {
  @extend %clearfix;
  @include clean-list;
  display: inline-block;

  li {
    color: $gray;
    display: inline-block;
    font-size: 1rem;
  }

  .empty {
    color: darken($light-gray, 8%);
  }
}

.card__info {
  @include clean-list;

  li {
    margin-bottom: .75rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.card__price {
  margin: 0;
}

.card__sub-text {
  color: $gray;
  font-size: .7rem;
  font-weight: $bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*------ Card small ------*/

.card--small {
  text-align: center;

  .card__section {
    padding: 1rem;
  }

  .card__photo {
    border-bottom: 1px solid $border-light;
  }
}

/*------ Card large ------*/

.card--large {
  font-size: .85rem;

  .card__section {

    @media #{$large} {
      float: left;
    }
  }

  .card__photo {
    border-bottom: 1px solid $border-light;
    height: 188px;

    @media #{$medium} {
      background-size: cover;
      width: 100%;
    }

    @media #{$large} {
      border-bottom: 0;
      border-right: 1px solid $border-light;
      width: 20%;
    }
  }
}

.card__section--body {
  border-bottom: 1px solid $border-light;
  padding: 1rem;

  @media #{$large} {
    border-bottom: 0;
    width: 55%;
  }
}

.card__section--action {
  padding: 1rem;
  text-align: center;

  @media #{$large} {
    border-left: 1px solid $border-light;
    width: 25%;
  }
}

.card__section--wide {
  padding: 0;

  @media #{$large} {
    border-bottom: 0;
    width: 75%;
  }

  .row {
    border-bottom: 1px solid $border-light;
    padding: 1.2rem 1rem;

    &:last-of-type {
      border-bottom: 0;
    }

    @media #{$large} {
      padding: 1.55rem;
    }
  }

  .module {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media #{$medium} {
      margin: 0;
    }
  }
}

/*------ Card photos ------*/

.new-york {
  background: url("../../assets/images/cards/newyork.jpg") 50% 0 no-repeat;
  background-size: cover;
}

.san-fran {
  background: url("../../assets/images/cards/sanfran.jpg") center no-repeat;
  background-size: cover;
}

.chicago {
  background: url("../../assets/images/cards/chicago.jpg") center no-repeat;
  background-size: cover;
}

.nassau {
  background: url("../../assets/images/cards/nassau.jpg") center no-repeat;
  background-size: cover;
}

.london {
  background: url("../../assets/images/cards/london.jpg") center no-repeat;
  background-size: cover;
}

.berlin {
  background: url("../../assets/images/cards/berlin.jpg") center no-repeat;
  background-size: cover;
}

.car {
  background: url("../../assets/images/cards/car.jpg") center no-repeat;
}
