/*------ Card ------*/

.card {
  background: $white;
  border: 1px solid $border-light;
  border-radius: $border-radius;
  display: block;
  overflow: hidden;
  text-decoration: none;
}

/*------ Card header ------*/

.card__header {
  background-size: cover;
  height: 200px;
}

/*------ Card body ------*/

.card__body { padding: 1.2rem; }

.card__location {
  @include ellipsis;
  display: block;
  font-size: 1.1rem;
  text-align: center;
}

/*------ Card footer ------*/

.card__footer {
  @extend %clearfix;
  border-top: 1px solid $border-light;
  padding: .7rem 1rem;
}

.card__price { float: left; }

.card__rating {
  color: $accent;
  float: right;
}

/*------ Card photos ------*/

.new-york {
  background: url("../../assets/images/cards/newyork.jpg") center no-repeat;
  background-size: cover;
}

.san-fran {
  background: url("../../assets/images/cards/sanfran.jpg") center no-repeat;
  background-size: cover;
}

.chicago {
  background: url("../../assets/images/cards/chicago.jpg") center no-repeat;
  background-size: cover;
}

.aruba {
  background: url("../../assets/images/cards/aruba.jpg") center no-repeat;
  background-size: cover;
}

.st-thomas {
  background: url("../../assets/images/cards/stthomas.jpg") center  no-repeat;
  background-size: cover;
}

.nassau {
  background: url("../../assets/images/cards/nassau.jpg") center no-repeat;
  background-size: cover;
}

.london {
  background: url("../../assets/images/cards/london.jpg") center no-repeat;
  background-size: cover;
}

.paris {
  background: url("../../assets/images/cards/paris.jpg") center no-repeat;
  background-size: cover;
}

.berlin {
  background: url("../../assets/images/cards/berlin.jpg") center no-repeat;
  background-size: cover;
}
