/*------ Card List & Item ------*/

.card-list {
  @include clean-list;
}

.card-list__item {
  margin-bottom: 1.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media #{$medium} {
    float: left;
    margin-left: 3%;
    width: 48.5%;

    &:nth-of-type(2n+1) { margin-left: 0; }
  }

  @media #{$medium} {
    float: left;
    margin-left: 3%;
    width: 48.5%;

    &:nth-of-type(2n+1) { margin-left: 0; }
  }

  @media #{$large} {
    width: 31%;

    &:nth-of-type(2n+1) { margin-left: 3%; }
    &:nth-of-type(3n+1) { margin-left: 0; }
    &:nth-of-type(3n+1) { margin-left: 0; }
  }
}

/*------ Small Cards ------*/

.card {
  @include transition (border $duration $timing);
  background: $white;
  border: 1px solid $border-light;
  border-radius: $border-radius;
  display: block;
  overflow: hidden;
  position: relative;

  &:hover {
    border: 1px solid darken($border-light, 5%);
    text-decoration: none;
  }

  &:hover .card__overlay {
    background: none;
  }
}

.card__photo {
  background-size: cover;
  height: 200px;
}

.card__overlay {
  @include transition (background $duration $timing);
  background: rgba(0, 0, 0, 0.1);
  height: 100%;
}

.card__body {
  padding: 1rem;
}

.card__location {
  @include ellipsis;
  display: block;
  font-size: 1rem;
  text-align: center;
}

.card__footer {
  @extend %clearfix;
  border-top: 1px solid $border-light;
  font-size: .85rem;
  padding: .75rem 1rem;
}

.card__price {
  float: left;
  font-weight: $bold;
}

.card__price--sale {
  color: $green;
  font-weight: $bold;
}

.card__rating {
  color: $green;
  float: right;
}

/*------ Large cards ------*/

.card--large {
  @include transition (border $duration $timing);
  font-size: .85rem;
  margin-bottom: 1rem;
  margin-left: 0;
  width: 100%;

  p {
    margin-bottom: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.large-card__module {

  @media #{$large} {
    float: left;
    text-align: left;
  }
}

.large-card__module--photo {
  background-size: cover;
  height: 150px;
  width: 100%;

  @media #{$large} {
    text-align: center;
    width: 100%;
  }

  @media #{$extra-large} {
    border-right: 1px solid $border-light;
    height: 190px;
    margin: 0;
    width: 25%;
  }
}

.large-card__module--small {
  text-align: center;
  padding: 1rem;
  width: 100%;

  @media #{$large} {
    width: 50%;
  }

  @media #{$extra-large} {
    margin: 0;
    width: 25%;
  }

  button {
    margin-top: 1rem;
  }
}

.large-card__module--medium {
  border-bottom: 1px solid $border-light;
  padding: 1rem;
  width: 100%;

  @media #{$large} {
    border-bottom: 0;
    border-right: 1px solid $border-light;
    margin: 0;
    text-align: left;
    width: 50%;
  }
}

.card__header {
  margin-bottom: .75rem;

  @media #{$medium} {
    margin-bottom: .55rem
  }
}

.card__title {
  font-size: 1rem;
  font-weight: $bold;
  margin: 0;
  text-align: center;

  @media #{$large} {
    display: inline-block;
    text-align: left;
  }
}

.card__class {
  @extend %clearfix;
  @include clean-list;
  font-size: 1rem;
  text-align: center;

  @media #{$large} {
    display: inline-block;
    text-align: left;
  }

  li {
    color: $gray;
    display: inline-block;
  }

  .empty {
    color: darken($light-gray, 5%);
  }
}

.card-info {
  @include clean-list;
}

.card-info__item {
  margin-bottom: .5rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.card-info__item--landmark:before {
  content: "\f041";
  font-family: "FontAwesome";
  margin-right: .25rem;
}

.card__total {
  font-size: 1.5rem;
  font-weight: $bold;
  margin: 0;
}

/*------ Card Special Labels ------*/

.card__special {
  background: rgba(60, 171, 134, 0.9);
  color: $white;
  display: inline-block;
  font-size: .85rem;
  font-weight: $bold;
  letter-spacing: .5px;
  right: 0;
  padding: .5rem 1rem;
  position: absolute;
  text-transform: uppercase;
}

/*------ Card photos ------*/

.new-york {
  background: url("../../assets/images/cards/newyork.jpg") 50% 0 no-repeat;
  background-size: cover;
}

.san-fran {
  background: url("../../assets/images/cards/sanfran.jpg") center no-repeat;
  background-size: cover;
}

.chicago {
  background: url("../../assets/images/cards/chicago.jpg") center no-repeat;
  background-size: cover;
}

.aruba {
  background: url("../../assets/images/cards/aruba.jpg") center no-repeat;
  background-size: cover;
}

.st-thomas {
  background: url("../../assets/images/cards/stthomas.jpg") center  no-repeat;
  background-size: cover;
}

.nassau {
  background: url("../../assets/images/cards/nassau.jpg") center no-repeat;
  background-size: cover;
}

.london {
  background: url("../../assets/images/cards/london.jpg") center no-repeat;
  background-size: cover;
}

.paris {
  background: url("../../assets/images/cards/paris.jpg") center no-repeat;
  background-size: cover;
}

.berlin {
  background: url("../../assets/images/cards/berlin.jpg") center no-repeat;
  background-size: cover;
}
