/*------ Flight select table ------*/

.flight-table {
  border-radius: $border-radius;
  color: $white;
  margin: 0 auto;
  max-width: 700px;
  overflow: hidden;
  width: 100%;
}

.flight-table__header {
  @include background-opacity($primary, 0.8);
  width: 100%;
}

.flight-table__body {
  @include background-opacity($primary, 0.8);
  padding: 1.6rem;
}

/*------ Flight Type ------*/

.flight-type {
  @extend %clearfix;
  @include clean-list;
}

.flight-type__item {
  float: left;
  width: 50%;
}

.flight-type__item:last-of-type {
  @include background-opacity($primary, 0.6);
  color: $medium-gray;
}

.flight-type__link {
  @include transition (background $duration $timing);
  display: block;
  padding: 1rem 0;
  text-align: center;
  width: 100%;

  &:hover { text-decoration: none; }
}

/*------ Label ------*/

.flight__label {
  display: inline-block;
  font-size: .9rem;
  font-weight: $bold;
  margin-bottom: .5rem;
  text-transform: uppercase;
}

.flight__label--link {
  cursor: pointer;
  font-size: 1rem;
  font-weight: $regular;
  margin-bottom: 0;
  margin-right: 1rem;
  text-transform: none;

  &:last-of-type { margin-right: 0; }
}

/*------ Location ------*/

.flight__location {
  background: $white url("../../assets/images/location.svg") 1rem 50% no-repeat;
  background-size: 12px;
  padding-left: 2.6rem;
}

/*------ Date ------*/

.flight__date {
  background: $white url("../../assets/images/calender.svg") 1rem 50% no-repeat;
  background-size: 15px;
  padding-left: 2.6rem;
}

/*------  Checkbox ------*/

.flight__option { margin-right: .3rem; }

/*------ Button ------*/

.flight__button {
  @include transition (background $duration $timing);
  background: $accent;
  color: $white;
  font-size: 1rem;
  font-weight: $bold;

  &:hover { background: darken($accent, 5%); }
}
