/*------ Footer ------*/

footer {
  background: $white;
  border-top: 1px solid $border-light;
  color: $dark-gray;
}

.footer__section {
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.footer__logo {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: $bold;
}

.footer-list {
  @extend %clearfix;
  @include clean-list;
}

.footer-list__item {
  float: left;
  font-weight: $bold;
  margin-left: 3%;

  &:first-of-type {
    margin: 0;
  }
}

.footer-list__item--icon {
  font-size: 1.75rem;
  font-weight: $regular;
}
