/*------ Footer ------*/

footer {
  @extend %clearfix;
  background: $primary-dark;
  color: $light-gray;
  font-size: .9rem;

  @media #{$medium} { text-align: center; }
}

.footer-section {
  margin-bottom: 1.6rem;

  &:last-of-type { margin-bottom: 0; }
}

/*------ Footer Title ------*/

.footer-title {
  color: $white;
  font-size: .9rem;
  margin-bottom: .6rem;

  @media #{$medium} { display: none; }
}

/*------ Footer Lists ------*/

.footer-menu, .social-menu { @include clean-list; }

.footer-menu__item {
  cursor: pointer;

  @media #{$medium} {
    display: inline-block;
    margin-left: 1rem;
  }

  &:first-of-type { margin-left: 0; }
}

.social-menu__item {
  display: inline-block;
  font-size: 1.3rem;
  margin-left: 1rem;

  &:first-of-type { margin-left: 0; }
}
