/*------ Forms ------*/

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="time"],
textarea, button {
  background: $white;
  border: 0;
  border-radius: $border-radius;
  color: $black;
  font-size: .9rem;
  margin-bottom: 1rem;
  outline: none;
  padding: .8rem 1rem;
  width: 100%;
}

::-webkit-input-placeholder {
  color: $gray;
}

:-moz-placeholder {
  color: $gray;
}

::-moz-placeholder {
  color: $gray;
}

:-ms-input-placeholder {
  color: $gray;
}

/*------ Custom Select  ------*/

.select-style {
  background: $white;
  border-radius: $border-radius;
  height: 44.5938px;
  overflow: hidden;
  position: relative;

  &:after {
    @include vertical-align;
    content: "\f107";
    color: $gray;
    font-family: "FontAwesome";
    font-size: 1.2rem;
    line-height: normal;
    right: 1rem;
    z-index: 1;
  }
}

.select__list {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  color: $black;
  cursor: pointer;
  font-size: .9rem;
  height: 100%;
  outline: 0;
  padding: 0 1rem;
  position: relative;
  width: 100%;
  z-index: 2;
}

.select__list:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.select__section-sort {
  border: 1px solid $border-light;
  width: 100%;

  @media #{$medium} { max-width: 220px; }

  @media #{$large} { float: right; }
}
