/*------ Row ------*/

.row {
  @extend %clearfix;
}

/*------ Module ------*/

.module {
  @media #{$medium} {
    float: left;
  }
}

/*------ Module sizes ------*/

.module--3 {
  @media #{$medium} {
    width: 25%;
  }
}

.module--4 {
  @media #{$medium} {
    width: 33.33%;
  }
}

.module--6 {
  @media #{$medium} {
    width: 50%;
  }
}

.module--8 {
  @media #{$medium} {
    width: 66.66%;
  }
}

.module--9 {
  @media #{$medium} {
    width: 75%;
  }
}

.module--12 {
  width: 100%;
}

/*------ Module fixed sizes ------*/

.module--3-fixed {
  float: left;
  width: 25%;
}

.module--4-fixed {
  float: left;
  width: 33.33%;
}

.module--6-fixed {
  float: left;
  width: 50%;
}

/*------ Module modifiers ------*/

.module--center {
  text-align: center;
}

.module--right {
  text-align: right;
}

.module--add-padding {
  padding: 1rem;
}

.module--photo {
  background: url("../../assets/images/cards/berlin.jpg") center no-repeat;
  background-size: cover;
  height: 190px;
}
