/*------ Row ------*/

.row {
  @extend %clearfix;
}

/*------ Module ------*/

.module {
  position: relative;

  @media #{$medium} {
    float: left;
  }
}

/*------ Module sizes ------*/

.module--3 {
  @media #{$medium} {
    width: 25%;
  }
}

.module--4 {
  @media #{$medium} {
    width: 33.33%;
  }
}

.module--5 {
  @media #{$medium} {
    width: 40%;
  }
}

.module--6 {
  @media #{$medium} {
    width: 50%;
  }
}

.module--7 {
  @media #{$medium} {
    width: 60%;
  }
}

.module--8 {
  @media #{$medium} {
    width: 66.66%;
  }
}

.module--9 {
  @media #{$medium} {
    width: 75%;
  }
}

.module--12 {
  width: 100%;
}

/*------ Module fixed sizes ------*/

.module--3-fixed {
  float: left;
  width: 25%;
}

.module--4-fixed {
  float: left;
  width: 33.33%;
}

.module--6-fixed {
  float: left;
  margin-left: 3%;
  width: 48.5%;

  &:first-of-type {
    margin-left: 0;
  }
}

/*------ Module modifiers ------*/

.module--right {
  text-align: right;
}
