/*------ Header ------*/

header {
  background: $dark-blue;
}

header .container {
  padding: .5rem 0;
  max-width: none;
}

.logo {
  color: $white;
  display: inline-block;
  float: left;
  font-size: 1.5rem;
  font-weight: $bold;
  line-height: 42px;
  margin-right: 2rem;

  &:hover {
    text-decoration: none;
  }
}

/*------ Navigation List ------*/

.nav-list {
  @extend %clearfix;
  @include clean-list;
  float: left;
  line-height: 42px;
}

.nav-list__item {
  float: left;
  margin-left: 1.25rem;

  &:first-of-type {
    margin-left: 0;
  }

  a {
    color: $white;
  }
}

/*------ User Account ------*/

.user-account {
  background: $white url("../../assets/images/user.svg") 50% 4px no-repeat;
  background-size: cover;
  border-radius: $circle;
  display: block;
  height: 30px;
  margin-top: 5px;
  width: 30px;
}

/*------ Desktop Navigation ------*/

.nav--desktop {
  display: none;

  @media #{$medium} {
    display: block;
  }
}

.nav--float-right {
  float: right;
}

/*------ Mobile Navigation ------*/

.nav--mobile {
  @extend %clearfix;
  background: darken($dark-blue, 4%);
  display: block;

  @media #{$medium} {
    display: none;
  }
}

.nav--mobile .container {
  padding: .25rem 0;
}
