/*------ Hero ------*/

.hero {
  background: darken($light-gray, 3%);
  background: url("../../assets/images/hero/hero.jpg") no-repeat;
  background-position: 50% 35%;
  background-size: cover;
  border-bottom: 1px solid $border-light;
  position: relative;
}

.hero .container {
  padding: 2rem 0;

  @media #{$medium} {
    min-height: 500px;
  }

  @media #{$large} {
    min-height: 600px;
  }
}

.hero__title {
  color: $white;
}

.hero .form-table {
  @media #{$medium} {
    @include vertical-align;
  }
}
