/*------ Hero ------*/

.hero {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  height: 400px;

  @media #{$medium} { height: 450px; }
}

.hero .container { max-width: 660px; }

.hero__title {
  color: $white;
  margin-bottom: 1.5rem;
  text-align: center;
}

/*------ Hero types ------*/

.main {
  background: url("/assets/images/hero/airplane-view.jpg") no-repeat;
  background-position: 50%;
  background-size: cover;
}
