/*------ Hero ------*/

.hero {
  background: $gray;
  background-position: 50% 43%;
  background-size: cover;
}

.hero .container {
  padding: 2rem 0;

  @media #{$medium} {
    padding: 8rem 0;
  }
}

.hero__title {
  color: $white;
}
