/*------ Layout ------*/

*, *:before, *:after {
  box-sizing: inherit;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: $body-font;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $light-gray;
  color: $dark-gray;
}

/*------ Images ------*/

img {
  display: block;
  width: 100%;
}

/*------ Containers ------*/

.container {
  @extend %clearfix;
  margin: 0 auto;
  max-width: 1000px;
  padding: 3rem 0;
  width: 90%;
}

.container--narrow {
  max-width: 600px;
  position: relative;
}

/*------ Section ------*/

.section__header {
  margin-bottom: 1.5rem;

  h2 {
    font-weight: $regular;
    margin: 0;
  }
}
