/*------ Layout ------*/

*, *:before, *:after {
  box-sizing: inherit;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: $body-font;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $light-gray;
  color: $black;
}

/*------ Images ------*/

img {
  display: block;
  width: 100%;
}

/*------ Containers ------*/

.container {
  @extend %clearfix;
  margin: 0 auto;
  max-width: 1000px;
  padding: 3rem 0;
  width: 90%;
}

/*------ Search filters ------*/

.filter-box {
  background: $white;
  border: 1px solid $border-light;
  border-radius: $border-radius;
  display: none;
  margin-top: .5rem;
  position: absolute;
  max-width: 600px;
  z-index: 999;
  width: 80%;

  .row {
    border-bottom: 1px solid $border-light;
    padding: 1.5rem;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  .module--6 {
    margin-bottom: 1.5rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media #{$medium} {
      margin: 0;
    }
  }
}

.filter-box__header {
  margin-bottom: .5rem;
}

.filter-box__list {
  @include clean-list;

  label {
    color: $black;
  }
}

/*------ Section ------*/

.section__header {
  margin-bottom: 1.5rem;

  .styled-select--sort {
    height: 40.2px;
    margin-top: 1rem;
    width: 230px;

    @media #{$medium} {
      float: right;
      margin: 0;
    }
  }
}

.section__title {
  font-size: 1.7rem;
  font-weight: $regular;
  margin-bottom: 1.5rem;
}

.section__title--inline {
  display: inline-block;
  margin: 0;
}

/*------ Review WIP ------*/

.review__section {
  @extend %clearfix;
  margin-bottom: 1.5rem;

  @media #{$medium} {
    float: left;
    margin-bottom: 0;
    margin-left: 10%;
    width: 40%;

    &:first-of-type {
      margin-left: 0;
      width: 50%;
    }
  }

  p {
    margin: 0;
  }

  .row {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  h4 {
    border-bottom: 1px solid $border-light;
    font-size: .8rem;
    font-weight: $extra-bold;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.review__photo {
  height: 100px;
}

/*------ Prepend ------*/

.prepend--location:before {
  content: "\f041";
  font-family: "FontAwesome";
  margin-right: .25rem;
}

.prepend--phone:before {
  content: "\f095";
  font-family: "FontAwesome";
  margin-right: .25rem;
}

.prepend--rating:before {
  content: "\f087";
  font-family: "FontAwesome";
  margin-right: .25rem;
}

.prepend--reviews:before {
  content: "\f0c0";
  font-family: "FontAwesome";
  margin-right: .25rem;
}

.prepend--plus:before {
  content: "\f055";
  font-family: "FontAwesome";
  margin-right: .25rem;
}
