/*------ Search form ------*/

.search-table {
  background: $dark-blue;
  border-radius: $border-radius;
  margin: 0 auto;
  max-width: 620px;
  padding: 1.5rem;
  overflow: hidden;
  width: 100%;

  .row {
    @media #{$medium} {
      margin-bottom: .75rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .module {
    margin-bottom: .75rem;

    @media #{$medium} {
      margin-bottom: 0;
    }
  }

  .module--6 {
    width: 100%;

    @media #{$medium} {
      margin-left: 3%;
      width: 48.5%;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  .module--4 {
    float: left;
    margin-left: 5%;
    width: 30%;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .label--clickable {
    font-size: .9rem;
  }
}

/*------ Resuts top bar ------*/

.search-results-top-bar {
  @extend %clearfix;
  background: $white;
  border-bottom: 1px solid $border-light;
  color: $gray;
  font-size: .7rem;
  font-weight: $extra-bold;
  letter-spacing: .5px;
  text-transform: uppercase;

  @media #{$medium} {
    height: 90px;
    position: relative;
    z-index: 999;
  }
}

/*------ Search criteria ------*/

.search-criteria-list {
  @extend %clearfix;
  @include clean-list;
}

.search-criteria-list__item {
  border-right: 0;
  border-bottom: 1px solid $border-light;
  float: left;
  padding: .75rem;
  text-align: center;
  width: 50%;

  &:nth-of-type(n+3) {
    display: none;
  }

  @media #{$medium} {
    border-right: 1px solid $border-light;
    border-bottom: 0;
    height: 90px;
    padding-top: 15px;
  }

  @media #{$large} {
    width: 50%;
  }

  @media #{$extra-large} {
    width: 22.5%;

    &:nth-of-type(n+3) {
      display: inline-block;
      width: 13.5%;
    }
  }

  i {
    color: darken($gray, 10%);
    font-size: 1.2rem;
    margin-bottom: .5rem;
  }

  p {
    margin-bottom: 0;
  }
}

.search-criteria-list__item--larger {
  color: darken($gray, 10%);
  font-size: 1rem;
  margin-top: 10px;
}

/*------ Search steps ------*/

.search-steps {
  position: relative;
  height: 100px;

  @media #{$medium} {
    height: 80px;
    width: 100%;
  }
}

.search-steps__line {
  background: darken($light-gray, 5%);
  border: 0;
  height: 2px;
  margin: 0 auto;
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 75%;
  z-index: 1;

  @media #{$medium} {
    margin: auto;
    top: 0;
    bottom: 0;
  }
}

.search-steps__list {
  @extend %clearfix;
  @include clean-list;
  position: relative;
}

.search-steps__item {
  float: left;
  position: relative;
  text-align: center;
  top: 20px;
  width: 25%;
  z-index: 2;
}

.search-steps__circle {
  background: darken($light-gray, 5%);
  border-radius: $circle;
  color: $gray;
  display: block;
  font-size: 1.2em;
  line-height: 35px;
  height: 35px;
  margin: 0 auto .25rem;
  text-align: center;
  width: 35px;

}

.search-steps__circle--current {
  @extend .pulse;
  background: $blue;
  color: $white;
}

.search-steps__circle--completed {
  background: $green;
  transition: transform $cubic-bezier .3s;

  &:before {
    color: $white;
    content: "\f00c";
    font-family: "FontAwesome";
    font-weight: $regular;
  }

  &:hover {
    transform: scale(1.2);
    text-decoration: none;
  }
}
