/*------ Resuts top bar ------*/

.top-bar {
  @extend %clearfix;
  background: $white;
  border-bottom: 1px solid $border-light;
  color: $gray;
  font-size: .9rem;
}

.top-bar .container {
  padding: 1rem 0;
  position: relative;
}

.search-criteria {
  @extend %clearfix;
  @include clean-list;
  margin-bottom: 1.5rem;

  @media #{$medium} {
    margin-bottom: 0;
  }

  @media #{$extra-large} {
    position: relative;
    top: 17px;
  }
}

.search-criteria__item {
  color: lighten($gray, 10%);

  @media #{$extra-large} {
    border-left: 1px solid $border-light;
    float: left;
    margin-left: .5rem;
    padding-left: .5rem;

    &:first-of-type {
      border-left: 0;
      margin-left: 0;
      padding-left: 0;
    }
  }
}

/*------ Search steps ------*/

.search-steps__line {
  background: darken($light-gray, 5%);
  border: 0;
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 17px;
  width: 72%;
  z-index: 1;

  @media #{$medium} {
    top: 32px;
  }

  @media #{$extra-large} {
    top: 17px;
  }
}

.search-steps__list {
  @extend %clearfix;
  @include clean-list;
}

.search-steps__item {
  float: left;
  position: relative;
  text-align: center;
  z-index: 2;

  @media #{$medium} {
    top: 17px;
  }

  @media #{$extra-large} {
    top: 0;
  }
}

.search-steps__item--4 {
  width: 25%;
}

.search-steps__item--3 {
  width: 33.33%;
}

.search-steps__circle {
  background: darken($light-gray, 5%);
  border-radius: $circle;
  color: $gray;
  display: block;
  font-size: .8rem;
  font-weight: $extra-bold;
  line-height: 34px;
  height: 34px;
  margin: 0 auto .5rem;;
  text-align: center;
  text-decoration: none;
  width: 34px;
}

.search-steps__circle--current {
  @extend .pulse;
  background: $blue;
  color: $white;
}

.search-steps__circle--completed {
  background: $green;
  transition: transform $cubic-bezier .2s;

  &:before {
    color: $white;
    content: "\f00c";
    font-family: "FontAwesome";
    font-weight: $regular;
  }

  &:hover {
    text-decoration: none;
    transform: scale(1.2);
  }
}

.search-steps__caption {
  font-size: .7rem;
  font-weight: $extra-bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*------  Filters ------*/

.filter__toggle {
  background: $white;
  border-radius: $border-radius;
  border: 1px solid $border-light;
  color: lighten($dark-gray, 10%);
  cursor: pointer;
  display: block;
  font-size: .9rem;
  margin-bottom: .5rem;
  padding: .5rem .7rem;
  transition: $duration $cubic-bezier;

  @media #{$medium} {
    display: inline-block;
    float: left;
    margin: 0;
  }

  &:before {
    content: "\f0c9";
    font-family: "FontAwesome";
    margin-right: .5rem;
  }

  &:hover {
    border: 1px solid darken($border-light, 6%);
    color: darken($gray, 10%);
  }
}

.filter__box {
  background: $white;
  border: 1px solid $border-light;
  border-radius: $border-radius;
  display: none;
  max-width: 500px;
  position: absolute;
  z-index: 999;
  width: 90%;

  @media #{$medium} {
    margin-top: 3rem;
  }

  .row {
    border-bottom: 1px solid $border-light;
    padding: 1.5rem;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  .module {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media #{$medium} {
      margin-bottom: 0;
    }
  }
}

.filter-box__header {
  margin-bottom: .5rem;
}

.filter-box__list {
  @include clean-list;

  label {
    color: $dark-gray;
  }
}

/*------ Review ------*/

.review {

  .module--6 {
    margin-bottom: 1.5rem;

    @media #{$medium} {
      width: 100%;
    }

    @media #{$large} {
      margin-left: 3%;
      width: 48.5%;

      &:first-of-type {
        margin-left: 0;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  p {
   margin-bottom: 0;
  }
}

.review__title {
  margin-bottom: 1rem;
}

.review__group {
  margin-bottom: 1.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.review__summary {
  background: $white;
  border: 1px solid $border-light;
  border-radius: $border-radius;
  padding: 1.5rem;

  .button {
    text-align: center;
  }
}
