/*------ Search ------*/

.search-table {
  background: $dark-blue;
  border-radius: $border-radius;
  margin: 0 auto;
  max-width: 700px;
  padding: 1.5rem;
  overflow: hidden;
  width: 100%;

  .row {
    @media #{$medium} {
      margin-bottom: .75rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .module {
    margin-bottom: .75rem;

    @media #{$medium} {
      margin-bottom: 0;
    }
  }

  .module--6 {
    width: 100%;

    @media #{$medium} {
      margin-left: 3%;
      width: 48.5%;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  .module--4 {
    float: left;
    margin-left: 5%;
    width: 30%;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .label--clickable {
    font-size: .9rem;
  }
}

/*------ Search results filters ------*/

.filter-list {
  @include clean-list;
  margin-bottom: 1.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.filter-list__header {
  color: darken($dark-blue, 4%);
  font-size: 1rem;
  font-weight: $bold;
  margin-bottom: .25rem;
}

/*------ Search results details ------*/

.content__search-details {
  border: 1px solid $border-light;
  border-radius: $border-radius;
  font-size: .85rem;
  font-weight: $bold;
  margin: 0 auto 3rem;
  max-width: 700px;
  padding: .5rem 1rem;
  text-align: center;

  p {
    margin-bottom: 0;
  }

  .column--half {
    float: none;
    margin: 0 0 1rem;
    width: 100%;

    @media #{$extra-large} {
      float: left;
      margin-bottom: 0;
      width: 50%;
    }
  }
}

/*------ Search results steps ------*/

.content__steps {
  @extend %clearfix;
  margin: 0 auto 3rem;
  max-width: 700px;
  position: relative;
  text-align: center;
}

.steps__progression-line {
  background: $border-light;
  border: 0;
  display: block;
  height: 2px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 28.5px;
  width: 75%;
  z-index: -999;

  @media #{$large} {
    top: 32.5px;
  }
}

.steps__circle {
  background: $white;
  border: 2px solid $border-light;
  border-radius: $circle;
  color: $border-light;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: $bold;
  height: 55px;
  line-height: 53px;
  text-align: center;
  width: 55px;

  @media #{$large} {
    border: 2px solid $border-light;
    font-size: 1.2rem;
    height: 62px;
    line-height: 56px;
    width: 62px;
  }
}

.steps__circle--current {
  @extend .pulse;
  background: $gray;
  border: 2px solid $gray;
  color: $white;
}

.steps__circle--completed {
  background: lighten($green, 47.5%);

  &:before {
    color: $green;
    content: "\f00c";
    font-family: "FontAwesome";
  }
}

.steps__circle--link {
  transition: border $duration $timing;

  &:hover {
    border: 2px solid darken($border-light, 8%);
    text-decoration: none;
  }
}

.steps__label {
  color: $black;
  display: block;
  font-size: .85rem;
  font-weight: $bold;
  letter-spacing: .5px;
  margin: .75rem 0 0;
  text-transform: uppercase;
}

/*------ Your package ------*/

.content__your-package {
  font-size: .85rem;
  margin: 0 auto 3rem;;
  width: 600px;

  &:before {
    content: "Your selection";
    font-weight: $bold;
    letter-spacing: .5px;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
}
