/*------ Typography ------*/

h1, h2, h3, h4 {
  color: $black;
  font: $header-font;
  margin: 0;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
  font-weight: $bold;
}

h4 {
  font-size: .85rem;
  font-weight: $bold;
  margin: 0;
}

p {
  margin: 0;
  margin-bottom: 1.5rem;

  &:last-of-type {
    margin: 0;
  }
}

/*------ Links ------*/

a {
  color: inherit;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

/*------ Basic type styles ------*/

.strike-through {
  text-decoration: line-through;
}

.important {
  color: $green;
  font-weight: $bold;
}

.subtitle {
  color: $gray;
  font-size: .75rem;
}

.total-price {
  @extend .important;
  margin: 1rem 0 0;
  text-align: center;
}
