/*------ Typography ------*/

h1, h2, h3, h4 {
  color: $dark-gray;
  font: $header-font;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1rem;
  margin-bottom: .5rem;
}

h4 {
  font-size: .9rem;
  margin: 0;
}

p {
  margin: 0;
}

/*------ Links ------*/

a {
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

/*------ Basic type styles ------*/

strong {
  font-weight: $bold;
}

.user-rating {
  &:after {
    color: #ff7b7b;
    content: "\f004";
    font-family: "FontAwesome";
    font-size: .9em;
    margin-left: .25rem;
  }
}

.user-rating--inverse {
  &:before {
    color: #ff7b7b;
    content: "\f004";
    font-family: "FontAwesome";
    font-size: .9em;
    margin-right: .25rem;
  }
}

.strike-through {
  color: lighten($gray, 25%);
  text-decoration: line-through;
}

.subtitle {
  color: $gray;
  font-size: .75rem;
}

/*------ Prepend ------*/

.prepend--location:before {
  content: "\f041";
  font-family: "FontAwesome";
  margin-right: .25rem;
}

.prepend--phone:before {
  content: "\f095";
  font-family: "FontAwesome";
  margin-right: .25rem;
}

.prepend--reviews:before {
  content: "\f0e6";
  font-family: "FontAwesome";
  margin-right: .25rem;
}

.prepend--plus:before {
  content: "\f055";
  font-family: "FontAwesome";
  margin-right: .25rem;
}
