/*------ Utilities ------*/

.add-margin-top {
  margin-top: 1rem;
}

.add-padding {
  padding: 1rem;
}

.active {
  display: block;
}

/*------ Clearfix created by Nicolas Gallagher ------*/

%clearfix {
  *zoom: 1;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after { clear: both; }
}
