---
layout: default
title: Holiday - Flights
---
<div class="hero flights">
  <div class="container">
    <div class="hero__table">
      {% include flight-selection.html %}
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Featured Destinations</h2>
      <form>
        <div class="select-style select__section-sort">
          <select class="select__list">
            <option value="popularity">Popularity</option>
            <option value="price-low">Price (Lowest First)</option>
            <option value="price-high">Price (Highest First)</option>
            <option value="rating">Guest Rating</option>
            <option value="alpha">Alphabetical (A-Z)</option>
          </select>
        </div>
      </form>
    </div>
    {% include featured-destinations.html %}
  </div>
</section>
