---
layout: default
title: Holiday
---

<section class="hero">
  <div class="container">
    {% include search/packages/search.html %}
  </div>
</section>

<section class="featured">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title section__title--inline">Featured packages</h2>
      <div class="styled-select styled-select--sort">
        <select class="styled-select__list">
          <option value="popularity">Popular</option>
          <option value="price-low">Price (Lowest First)</option>
          <option value="price-high">Price (Highest First)</option>
          <option value="rating">Guest Rating</option>
          <option value="alpha">Alphabetical (A-Z)</option>
        </select>
      </div>
    </div>
    {% include search/packages/featured.html %}
  </div>
</section>
