<div class="row">
  <div class="module module--6">
    <h4 class="filter-box__header">Stops</h4>
    <ul class="filter-box__list">
      <li>
        <label class="label--clickable">
          <input type="checkbox">Nonstop (15)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">1 stop (12)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">2+ stops (3)
        </label>
      </li>
    </ul>
  </div>
  <div class="module module--6">
    <h4 class="filter-box__header">Airlines</h4>
    <ul class="filter-box__list">
      <li>
        <label class="label--clickable">
          <input type="checkbox">American (9)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">Delta (4)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">Frontier (2)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">Spirit (11)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">United (4)
        </label>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="module module--6">
    <h4 class="filter-box__header">Departing Milwaukee (MKE)</h4>
    <ul class="filter-box__list">
      <li>
        <label class="label--clickable">
          <input type="checkbox">Early morning (12am to 5am)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">Morning (5am to 12pm)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">Afternoon (12pm to 6pm)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">Evening (6pm to 12am)
        </label>
      </li>
    </ul>
  </div>
  <div class="module module--6">
    <h4 class="filter-box__header">Departing Orlando (MCO)</h4>
    <ul class="filter-box__list">
      <li>
        <label class="label--clickable">
          <input type="checkbox">Early morning (12am to 5am)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">Morning (5am to 12pm)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">Afternoon (12pm to 6pm)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">Evening (6pm to 12am)
        </label>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <button class="button button--secondary">Update results</button>
</div>
