<div class="row">
  <div class="module module--6">
    <h4 class="filter-box__header">Hotel class</h4>
    <ul class="filter-box__list">
      <li>
        <label class="label--clickable">
          <input type="checkbox">5 stars
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">4 stars
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">3 stars
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">2 stars
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">1 stars
          <i class="fa fa-star" aria-hidden="true"></i>
        </label>
      </li>
    </ul>
  </div>
  <div class="module module--6">
    <h4 class="filter-box__header">Nightly rate</h4>
    <ul class="filter-box__list">
      <li>
        <label class="label--clickable">
          <input type="checkbox">Less than $75.00
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">$75.00 to $124.00
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">$125.00 to $199.00
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">$200.00 to $299.00
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">Greater than $300.00
        </label>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="module module--12">
    <h4 class="filter-box__header">User rating</h4>
    <ul class="filter-box__list">
      <li>
        <label class="label--clickable">
          <input type="checkbox">4.5 or higher
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">4 or higher
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">3 or higher
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">2 or higher
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">1 or higher
        </label>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <button class="button button--secondary">Update results</button>
</div>
