<div class="row">
  <div class="module module--6">
    <h4 class="filter-box__header">Hotel class</h4>
    <ul class="filter-box__list">
      <li>
        <label class="label--clickable">
          <input type="checkbox">5 stars (4)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">4 stars (52)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">3 stars (163)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">2 stars (78)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">1 star (3)
        </label>
      </li>
    </ul>
  </div>
  <div class="module module--6">
    <h4 class="filter-box__header">Nightly rate</h4>
    <ul class="filter-box__list">
      <li>
        <label class="label--clickable">
          <input type="checkbox">Less than $74 (124)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">$75 to $124 (76)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">$125 to $199 (71)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">$200 to $299 (17)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">Greater than $300 (2)
        </label>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="module module--12">
    <h4 class="filter-box__header">User rating</h4>
    <ul class="filter-box__list">
      <li>
        <label class="label--clickable">
          <input type="checkbox">4.5 or higher (155)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">4 or higher (70)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">3 or higher (43)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">2 or higher (22)
        </label>
      </li>
      <li>
        <label class="label--clickable">
          <input type="checkbox">1 or higher (0)
        </label>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <button class="button button--secondary">Update results</button>
</div>
