---
layout: default
title: Holiday - Packages
---

{% include search/hotels/criteria.html %}

<section class="results">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Grand Villa Hotel and Suites</h2>
      <div class="row">
        <div class="module module--6">
          <p>1 N Main St, Orlando, FL, 32830 United States</p>
          <p>(800) 559-5559</p>
        </div>
        <div class="module module--6">
          <div class="styled-select styled-select--sort">
            <select class="styled-select__list">
              <option selected="selected">Nightly rate (Lowest first)</option>
              <option>Nightly rate (Highest first)</option>
              <option>Square footage</option>
              <option>Beds</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    {% include search/hotels/results-rooms.html %}
  </div>
</section>

<script>
  $(".button--filter-toggle").click(function(e) {
        e.preventDefault();
        $(".filter-box").slideToggle("active");
  });
</script>
