<div class="wrapper">
  <div class="column column--medium">
    <a class="card" href="">
      <div class="card__special">10% off</div>
      <div class="card__header new-york">
        <div class="card__overlay"></div>
      </div>
      <div class="card__body">
        <span class="card__location">New York City, New York</span>
      </div>
      <div class="card__footer">
        <span class="card__price">
          <strike>$1485+</strike>
          <span class="card__price--sale">$1337</span>
        </span>
        <span class="card__rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
      </div>
    </a>
  </div>
  <div class="column">
    <a class="card" href="">
      <div class="card__header san-fran">
        <div class="card__overlay"></div>
      </div>
      <div class="card__body">
        <span class="card__location">San Francisco, California</span>
      </div>
      <div class="card__footer">
        <span class="card__price">$1549+</span>
        <span class="card__rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
        </span>
      </div>
    </a>
  </div>
  <div class="column">
    <a class="card" href="">
      <div class="card__header aruba">
        <div class="card__overlay"></div>
      </div>
      <div class="card__body">
        <span class="card__location">Oranjestad, Aruba</span>
      </div>
      <div class="card__footer">
        <span class="card__price">$1999+</span>
        <span class="card__rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
      </div>
    </a>
  </div>
  <div class="column">
    <a class="card" href="">
      <div class="card__header paris">
        <div class="card__overlay"></div>
      </div>
      <div class="card__body">
        <span class="card__location">Paris, France</span>
      </div>
      <div class="card__footer">
        <span class="card__price">$2219+</span>
        <span class="card__rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
      </div>
    </a>
  </div>
  <div class="column">
    <a class="card" href="">
      <div class="card__special">$100 Resort Credit</div>
      <div class="card__header st-thomas">
        <div class="card__overlay"></div>
      </div>
      <div class="card__body">
        <span class="card__location">Saint Thomas, USVI</span>
      </div>
      <div class="card__footer">
        <span class="card__price">$1849+</span>
        <span class="card__rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
        </span>
      </div>
    </a>
  </div>
  <div class="column">
    <a class="card" href="">
      <div class="card__header chicago">
        <div class="card__overlay"></div>
      </div>
      <div class="card__body">
        <span class="card__location">Chicago, Illinois</span>
      </div>
      <div class="card__footer">
        <span class="card__price">$1449+</span>
        <span class="card__rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
        </span>
      </div>
    </a>
  </div>
  <div class="column">
    <a class="card" href="">
      <div class="card__header nassau">
        <div class="card__overlay"></div>
      </div>
      <div class="card__body">
        <span class="card__location">Nassau, Bahamas</span>
      </div>
      <div class="card__footer">
        <span class="card__price">$1749+</span>
        <span class="card__rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
      </div>
    </a>
  </div>
  <div class="column">
    <a class="card" href="">
      <div class="card__header london">
        <div class="card__overlay"></div>
      </div>
      <div class="card__body">
        <span class="card__location">London, England</span>
      </div>
      <div class="card__footer">
        <span class="card__price">$2349+</span>
        <span class="card__rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
      </div>
    </a>
  </div>
  <div class="column">
    <a class="card" href="">
      <div class="card__special">Free Gift</div>
      <div class="card__header berlin">
        <div class="card__overlay"></div>
      </div>
      <div class="card__body">
        <span class="card__location">Berlin, Germany</span>
      </div>
      <div class="card__footer">
        <span class="card__price">$2349+</span>
        <span class="card__rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
      </div>
    </a>
  </div>
</div>
