<footer>
  <div class="container">
    <div class="footer__section">
      <ul class="footer-list">
        <li class="footer-list__item">
          <a href="{{ site.baseurl }}/packages/">Packages</a>
        </li>
        <li class="footer-list__item">
          <a href="{{ site.baseurl }}/hotels/">Hotels</a>
        </li>
        <li class="footer-list__item">
          <a href="{{ site.baseurl }}/flights/">Flights</a>
        </li>
        <li class="footer-list__item">
          <a href="{{ site.baseurl }}/cars/">Cars</a>
        </li>
      </ul>
    </div>
    <div class="footer__section">
      <p>Holiday offers a best price guarantee. Rest assured that you are getting the lowest possible rates, we guarantee it. We recommend that you check the U.S. Department of State <a href="https://travel.state.gov/content/passports/en/alertswarnings.html" target="_blank">travel alerts</a> and warnings before booking any travel out of the country.</p>
    </div>
    <div class="footer__section">
      <ul class="footer-list">
        <li class="footer-list__item footer-list__item--icon">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </li>
        <li class="footer-list__item footer-list__item--icon">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </li>
        <li class="footer-list__item footer-list__item--icon">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </li>
        <li class="footer-list__item footer-list__item--icon">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
    <div class="footer__section center">
      <a class="footer__sig" href="http://noahrogers.com">Created by Noah Rogers</a>
    </div>
  </div>
</footer>
