<footer>
  <div class="container">

  <div class="footer-section">
    <h4 class="footer-title">Pricing &amp; Travel Information</h4>
    <p>We do our best to keep our prices as low and our payment options as flexible as possible. If you find a better price please contact us. All of our packages are all-inclusive and include airfare and lodging.</p>
    <p>We want you to be safe. If traveling abroad, stay up to date with U.S. Department of State <a class="alert" href="http://travel.state.gov/content/passports/english/alertswarnings.html" target="_blank">Alerts and Warnings</a>.</p>
  </div>

  <div class="footer-section">
    <h4 class="footer-title">Navigation</h4>
    <ul class="footer-menu">
      <li class="footer-menu__item">
        <a class="footer-menu__link" href="">Packages</a>
      </li>
      <li class="footer-menu__item">
        <a class="footer-menu__link" href="">Hotels</a>
      </li>
      <li class="footer-menu__item">
        <a class="footer-menu__link" href="">Flights</a>
      </li>
      <li class="footer-menu__item">
        <a class="footer-menu__link" href="">Cars</a>
      </li>
      <li class="footer-menu__item">
        <a class="footer-menu__link" href="">Login</a>
      </li>
    </ul>
  </div>

  <div class="footer-section">
    <h4 class="footer-title">Stay Connected</h4>
    <ul class="social-menu">
      <li class="social-menu__item">
        <a class="social-menu__link" href="">
          <i class="fa fa-facebook social-menu__icon"></i>
        </a>
      </li>
      <li class="social-menu__item">
        <a class="social-menu__link" href="">
          <i class="fa fa-instagram social-menu__icon"></i>
        </a>
      </li>
      <li class="social-menu__item">
        <a class="social-menu__link" href="">
          <i class="fa fa-twitter social-menu__icon"></i>
        </a>
      </li>
      <li class="social-menu__item">
        <a class="social-menu__link" href="">
          <i class="fa fa-youtube social-menu__icon"></i>
        </a>
      </li>
    </ul>
  </div>

  </div>
</footer>
