<header>
  <div class="container">

    <a class="logo" href="">Holiday</a>

    <ul class="navigation">
      <li class="navigation__item">
        <a class="navigation__link" href="">Packages</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="">Hotels</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link navigation__link--current" href="">Flights</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="">Cars</a>
      </li>
    </ul>

    <ul class="navigation navigation--admin">
      <li class="navigation__item">
        <a class="navigation__link" href="">Login</a>
      </li>
      <li class="navigation__item">
        <a class="navigration__link user-account" href=""></a>
      </li>
    </ul>

  </div>

  <div class="mobile-bar">
    <div class="container">
      <ul class="navigation navigation--mobile">
        <li class="navigation__item navigation__item--mobile">
          <a class="navigation__link" href="">Packages</a>
        </li>
        <li class="navigation__item navigation__item--mobile">
          <a class="navigation__link" href="">Hotels</a>
        </li>
        <li class="navigation__item navigation__item--mobile">
          <a class="navigation__link navigation__link--current" href="">Flights</a>
        </li>
        <li class="navigation__item navigation__item--mobile">
          <a class="navigation__link" href="">Cars</a>
        </li>
      </ul>
    </div>
  </div>

</header>
