<header>
  <div class="container">
    <a class="logo" href="{{ site.baseurl }}/">Holiday</a>
    <nav class="nav--desktop">
      <ul class="nav-list">
        <li class="nav-list__item">
          <a href="{{ site.baseurl }}/hotels/">Hotels</a>
        </li>
        <li class="nav-list__item">
          <a href="{{ site.baseurl }}/flights/">Flights</a>
        </li>
        <li class="nav-list__item">
          <a href="{{ site.baseurl }}/packages/">Packages</a>
        </li>
        <li class="nav-list__item">
          <a href="{{ site.baseurl }}/cars/">Cars</a>
        </li>
      </ul>
    </nav>
    <nav class="float-right">
      <a class="user" href="{{ site.baseurl }}/account/">Noah Rogers</a>
    </nav>
  </div>
  <nav class="nav--mobile">
    <div class="container">
      <ul class="nav-list">
        <li class="nav-list__item">
          <a href="{{ site.baseurl }}/hotels/">Hotels</a>
        </li>
        <li class="nav-list__item">
          <a href="{{ site.baseurl }}/flights/">Flights</a>
        </li>
        <li class="nav-list__item">
          <a href="{{ site.baseurl }}/packages/">Packages</a>
        </li>
        <li class="nav-list__item">
          <a href="{{ site.baseurl }}/cars/">Cars</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
