---
layout: default
title: Holiday - Packages
permalink: /hotels/hotel-selection/select-room/
group: hotels
---

{% include search/hotels/criteria.html %}

<section class="results">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Grand Villa Hotel and Suites</h2>
      <div class="row">
        <div class="module module--6">
          <p>1 N Main St, Orlando, FL, 32830 United States</p>
          <p>(800) 559-5559</p>
        </div>
        <div class="module module--6">
          <select class="select--fixed-right">
            <option selected="selected">Nightly rate (Lowest first)</option>
            <option>Nightly rate (Highest first)</option>
            <option>Square feet</option>
            <option>Number of beds</option>
          </select>
        </div>
      </div>
    </div>
    {% include search/hotels/results-rooms.html %}
  </div>
</section>
