<section class="top-bar">
  <div class="container">
    <div class="module module--7">
      <ul class="search-criteria">
        <li class="search-criteria__item">
          <p>Milwaukee (MKE) <i class="fa fa-caret-right" aria-hidden="true"></i> Orlando (MCO)</p>
        </li>
        <li class="search-criteria__item">
          <p>July 9 to Monday, July 18</p>
        </li>
        <li class="search-criteria__item">
          <p>Round trip</p>
        </li>
        <li class="search-criteria__item">
          <p>1 passenger</p>
        </li>
      </ul>
    </div>
    <div class="module module--5">
      <hr class="search-steps__line">
      <ul class="search-steps__list">
        <li class="search-steps__item search-steps__item--3">
          <span class="search-steps__circle search-steps__circle--current">1</span>
          <p class="search-steps__caption">Select flight</p>
        </li>
        <li class="search-steps__item search-steps__item--3">
          <span class="search-steps__circle">2</span>
          <p class="search-steps__caption">Review</p>
        </li>
        <li class="search-steps__item search-steps__item--3">
          <span class="search-steps__circle">3</span>
          <p class="search-steps__caption">Checkout</p>
        </li>
      </ul>
    </div>
  </div>
</section>
