<div class="form-table">
  <form action="{{ site.baseurl }}/flights/flight-selection">
    <div class="row">
      <ul class="flight-search-tabs">
        <li class="flight-search-tabs__item flight-search-tabs__item--current">Round trip</li>
        <li class="flight-search-tabs__item">One way</li>
        <li class="flight-search-tabs__item">Multi-city</li>
      </ul>
    </div>
    <div class="row">
      <div class="module module--6">
        <label>Flying from</label>
        <input type="text" placeholder="Airport code or city">
      </div>
      <div class="module module--6">
        <label>Flying to</label>
        <input type="text" placeholder="Airport code or city">
      </div>
    </div>
    <div class="row">
      <div class="module module--6">
        <div class="module module--6">
          <label>Departing</label>
          <input type="text" placeholder="mm/dd/yyyy">
        </div>
        <div class="module module--6">
          <label>Returning</label>
          <input type="text" placeholder="mm/dd/yyyy">
        </div>
      </div>
      <div class="module module--6">
        <div class="module module--6">
          <label>Adults</label>
          <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
        <div class="module module--6">
          <label>Children</label>
          <select>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row add-margin-top">
      <label class="label--clickable">
        <input type="checkbox">Also search nearby airports
      </label>
    </div>
    <div class="row">
      <button class="button button--primary">Search</button>
    </div>
  </form>
</div>

<script>
  $(".flight-search-tabs__item").click(function(){
    $(".flight-search-tabs__item").not(this).removeClass("flight-search-tabs__item--current");
    $(this).toggleClass("flight-search-tabs__item--current");
  });
</script>
