<div class="search-table">
  <form class="packages" action="/holiday/flights/flight-selection/">
    <div class="row">
      <label class="search__tab search__tab--current">Round trip</label>
      <label class="search__tab">One way</label>
    </div>
    <div class="row">
      <div class="module module--6">
        <label>Flying from</label>
        <input type="text" placeholder="Airport code or city">
      </div>
      <div class="module module--6">
        <label>Flying to</label>
        <input type="text" placeholder="Airport code or city">
      </div>
    </div>
    <div class="row">
      <div class="module module--6">
        <div class="module module--6">
          <label>Departing</label>
          <input type="text" placeholder="mm/dd/yyyy">
        </div>
        <div class="module module--6">
          <label>Returning</label>
          <input type="text" placeholder="mm/dd/yyyy">
        </div>
      </div>
      <div class="module module--6">
        <div class="module module--6">
          <label>Adults</label>
          <div class="styled-select">
            <select class="styled-select__list">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
        </div>
        <div class="module module--6">
          <label>Children</label>
          <div class="styled-select">
            <select class="styled-select__list">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label--clickable">
        <input type="checkbox">Search nonstop flights only
      </label>
    </div>
    <div class="row add-margin-top">
      <button class="button button--primary">Search</button>
    </div>
  </form>
</div>
