<div class="search-table">
  <form class="packages" action="/holiday/cars/car-selection">
    <div class="row">
      <div class="module module--6">
        <label>Picking up</label>
        <input type="text" placeholder="City name">
      </div>
      <div class="module module--6">
        <label>Droping off</label>
        <input type="text" placeholder="Same as pickup">
      </div>
    </div>
    <div class="row">
      <div class="module module--6">
        <div class="module module--6">
          <label>Pick up day</label>
          <input type="text" placeholder="mm/dd/yyyy">
        </div>
        <div class="module module--6">
          <label>Time</label>
          <div class="styled-select">
            <select class="styled-select__list">
              <option>10:30am</option>
              <option>11:00am</option>
              <option>11:30am</option>
              <option>12:00pm</option>
              <option>etc</option>
            </select>
          </div>
        </div>
      </div>
      <div class="module module--6">
        <div class="module module--6">
          <label>Drop off day</label>
          <input type="text" placeholder="mm/dd/yyyy">
        </div>
        <div class="module module--6">
          <label>Time</label>
          <div class="styled-select">
            <select class="styled-select__list">
              <option>10:30am</option>
              <option>11:00am</option>
              <option>11:30am</option>
              <option>12:00pm</option>
              <option>etc</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label--clickable">
        <input type="checkbox">Search nonstop flights only
      </label>
    </div>
    <div class="row add-margin-top">
      <button class="button button--primary">Search</button>
    </div>
  </form>
</div>
