---
layout: default
title: Holiday - Flights
permalink: /flights/flight-selection/
group: flights
---

{% include search/flights/criteria.html %}

<section class="results">
  <div class="container">
    <div class="section__header">
      <div class="row">
        <h2>Displaying roundtrip flights from MKE to MCO</h2>
      </div>
      <div class="row">
        <div class="filter__toggle">Filter Results</div>
        <div class="filter__box">
          {% include filter-list/flights.html %}
        </div>
        <select>
          <option selected>Sort results</option>
          <option>Price (Lowest first)</option>
          <option>Price (Highest first)</option>
          <option>Departure (Earliest first)</option>
          <option>Departure (Latest first)</option>
          <option>Alphabetical (A-Z)</option>
        </select>
      </div>
    </div>
    {% include search/flights/results-flights.html %}
  </div>
</section>

<script>
  $(".filter__toggle").click(function(e) {
        e.preventDefault();
        $(".filter__box").slideToggle("active");
  });
</script>
