// Font Weights
$light: 300;
$regular: 400;
$bold: 700;

// Body Font
$body-font: $regular 100%/1.5 "Open Sans", sans-serif;

// Header Font
$header-font: $light 100%/1.5 "Open Sans", serif;

// Colors
$primary: #395667;
$primary-dark: #334d5c;
$primary-light: #517b93;
$accent: #3cab86;
$black: #555;
$light-gray: #eee;
$gray: #999;
$white: #fff;

// Border Color
$border-light: #ddd;

// Border Radius
$border-radius: 3px;
$circle: 50%;

// Animations
$duration: .2s;
$timing: ease-in-out;

// Medium Screens
$medium: "(min-width: 600px)";

// Medium Screens
$large: "(min-width: 900px)";
