// Font Weights
$regular: 400;
$bold: 700;
$extra-bold: 900;

// Body Font
$body-font: $regular 16px/1.5 "Lato", sans-serif;

// Header Font
$header-font: $regular 16px/1.5 "Lato", sans-serif;

// Colors
$blue:                #3abff0;
$dark-blue:           #454a51;
$orange:              #f29b41;
$black:               #555;
$light-gray:          #f6f7f8;
$gray:                #888;
$green:               #58d8aa;
$white:               #fff;

// Border Color
$border-light:        #e3e6e9;

// Border Radius
$border-radius: 3px;
$circle: 50%;

// Transitions
$cubic-bezier: ease-in-out;
$duration: .2s;

// Medium Screens
$medium: "(min-width: 640px)";

// Large Screens
$large: "(min-width: 900px)";

// Extra Large Screens
$extra-large: "(min-width: 1200px)";

// Custom
$hotels: "(min-width: 700px) and (max-width: 1200px)";
$flights: "(min-width: 200px) and (max-width: 1200px)";
