---
layout: default
title: Holiday - Cars
permalink: /cars/car-selection/
group: cars
---

{% include search/cars/criteria.html %}

<section class="results">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Displaying rental cars in Orlando, FL</h2>
      <div class="row">
        <div class="filter">
          <div class="filter__toggle">Filter Results</div>
          <div class="filter__box">
            {% include filter-list/cars.html %}
          </div>
        </div>
        <select class="select--fixed-right">
          <option selected="selected">Daily price (Lowest first)</option>
          <option>Daily price (Highest first)</option>
          <option>Rental car company</option>
          <option>Vehicle type</option>
        </select>
      </div>
    </div>
    {% include search/cars/results-cars.html %}
  </div>
</section>

<script>
  $(".filter__toggle").click(function(e) {
        e.preventDefault();
        $(".filter__box").slideToggle("active");
  });
</script>
