---
layout: default
title: Holiday - Hotels
permalink: /hotels/hotel-selection/
group: hotels
---

{% include search/hotels/criteria.html %}

<section class="results">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Displaying hotels in Orlando, FL</h2>
      <div class="row">
        <div class="filter">
          <div class="filter__toggle">Filter Results</div>
          <div class="filter__box">
            {% include filter-list/hotels.html %}
          </div>
        </div>
        <select class="select--fixed-right">
          <option selected="selected">Average rate (Lowest first)</option>
          <option>Average rate (Highest first)</option>
          <option>Hotel class (Lowest first)</option>
          <option>Hotel class (Highest first)</option>
          <option>Guest Rating (Lowest first)</option>
          <option>Guest Rating (Highest first)</option>
          <option>Alphabetical (A-Z)</option>
        </select>
      </div>
    </div>
    {% include search/hotels/results-hotels.html %}
  </div>
</section>

<script>
  $(".filter__toggle").click(function(e) {
        e.preventDefault();
        $(".filter__box").slideToggle("active");
  });
</script>
